<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Pump</h3>
    </div>
    <div class="panel-body" id="pumps">
        <div class="panel-body" *ngFor="let pump of pumps">
            <div>{{pump.displayName}}</div>
            <select style="width: 250px;" (change)="speedChanged(pump, $event)">
                <option *ngFor="let speed of pump.speeds" [selected]="speed.isActive == true" [value]="speed.name">{{speed.name}}</option>
            </select>
        </div>
    </div>
</div>