<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Pump</h3>
    </div>
    <div class="panel-body" id="pumps">
        <div class="panel-body form-group" *ngFor="let pump of pumps">
            <label for="pump-{{pump.name}}">{{pump.displayName}}</label> 
            <select (change)="speedChanged(pump, $event)" id="pump-{{pump.name}}" class="form-control">
                <option *ngFor="let speed of pump.speeds" [selected]="speed.isActive == true" [value]="speed.name">{{speed.name}}</option>
            </select>
        </div>
    </div>
</div>