<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Valves</h3>
    </div>
    <div class="panel-body" id="valves">
        <div class="panel-body" *ngFor="let valve of valves">
            <div></div>
            {{valve.displayName}}
            <mat-slide-toggle 
                    id='valve-{{valve.id}}'
                    data-name='{{valve.name}}'
                    (toggleChange)="valveChanged(valve, $event)" 
                    [(ngModel)]="valve.isOn">
                    {{valve.name}}
                </mat-slide-toggle>            
        </div>
    </div>

</div>