<div class="tile__header">
    <h2 class="tile__title">Valves</h2>
</div>
<div class="tile__body">
    <div class="control-list">
        <div class="control-item" *ngFor="let valve of valves">
            <span class="control-label">{{valve.displayName}}</span>
            <mat-slide-toggle
                id='valve-{{valve.id}}'
                [attr.data-name]='valve.name'
                (toggleChange)="valveChanged(valve, $event)"
                [(ngModel)]="valve.isOn">
            </mat-slide-toggle>
        </div>
    </div>
</div>
