<div class="tile__header">
    <h2 class="tile__title">Controls</h2>
</div>
<div class="tile__body">
    <div *ngFor="let row of variableGroups" class="variable-group">
        <div class="variable-group__title" id="{{row.isOnVariable}}">{{row.title}}</div>
        <div class="control-list">
            <div *ngFor="let variable of row.variables" class="control-item">
                <span class="control-label">{{variable.displayName}}</span>
                <mat-slide-toggle
                    *ngIf="variable.dataType == 'bool'; else allOthers"
                    id='variable-{{variable.name}}'
                    (toggleChange)="variableChanged(variable, $event)"
                    [(ngModel)]="variable.value">
                </mat-slide-toggle>
                <ng-template #allOthers>
                    <input type='number'
                           id='variable-{{variable.name}}'
                           step='.5'
                           class='variable-input'
                           [value]='variable.value'
                           (change)="variableChanged(variable, $event)">
                </ng-template>
            </div>
        </div>
    </div>
</div>
