<form  (ngSubmit)="onSubmit()">
<h3>Edit schedule</h3>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Schedules</h3>
    </div>
    
    <div class="panel-body" [formGroup]="form">
        <div id="schedule">            
        <table class="table">
            <tr><th>Name</th><th></th><th></th></tr>
            <ng-container formArrayName="schedules">
                <ng-container *ngFor="let row of schedules.controls; let i = index">
                <tr [formGroupName]="i">
                    <td class="">
                        <mat-form-field appearance="fill">
                            <input matInput
                                   formControlName="name"
                                   placeholder="Schedule Name">
                        </mat-form-field>
                    </td> 
                    <td class="">
                        <mat-form-field appearance="fill">
                            <input matInput
                                type="datetime-local"
                                formControlName="scheduleStart"
                                placeholder="Start">
                        </mat-form-field>
                    </td> 
                    <td class="">
                        <mat-form-field appearance="fill">
                            <input matInput
                                type="datetime-local"
                                formControlName="scheduleEnd"
                                placeholder="End">
                        </mat-form-field>
                    </td>                    
                </tr>
            </ng-container>
            </ng-container>
        </table>
        <button mat-button type="submit">Save</button>
    </div>
    </div>
</div>

</form>