<h1>{{title}}</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <app-schedules></app-schedules>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <app-stats></app-stats>
        </div>
    </div>
    <div class="row">
            <app-temperature></app-temperature>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <app-variable-groups></app-variable-groups>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <app-lights></app-lights>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <app-pumps></app-pumps>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <app-valves></app-valves>
        </div>
    </div>
</div>