<div class="tile__header">
    <h2 class="tile__title">Stats</h2>
</div>
<div class="tile__body">
    <div class="chart-controls">
        <div [formGroup]="myGroup">
            <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput
                    formControlName="start"
                    (ngModelChange)="updateTemperatureChart($event)"
                    [matDatepicker]="picker">
                <mat-datepicker #picker></mat-datepicker>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            </mat-form-field>
        </div>
    </div>

    <div class="chart-container">
        <div id="temperature-chart">
            <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [yaxis]="chartOptions.yaxis"
                [stroke]="chartOptions.stroke"
                [colors]="chartOptions.colors"
                [grid]="chartOptions.grid"
                [legend]="chartOptions.legend"
                [tooltip]="chartOptions.tooltip"
                [title]="chartOptions.title"
                [markers]="chartOptions.markers"
            ></apx-chart>
        </div>
    </div>
</div>
