<p>Schedules</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Schedules</h3>
    </div>
    <div class="panel-body">
        <div id="schedule">
            <span>Overrides:</span>
            
        <table class="table">
            <tr><th></th><th>Start</th><th>End</th><th>Pumps</th></tr>
            <tr *ngFor="let row of scheduleInfo.schedules" id="schedule-{{row.id}}">
                <th class="">{{row.name}}</th>
                <td>{{row.scheduleStart}}</td>
                <td>{{row.scheduleEnd}} ({{row.duration}}hrs)</td><td>
                    <div *ngFor="let pump of row.pumps" id="schdule-{{row.id}}-pump-{{pump.id}}">{{pump.displayName}} {{pump.speedName}}</div>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>