<p>Schedules</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Schedules</h3>
    </div>
    <div class="panel-body">
        <div id="schedule">
            <span>Overrides:</span>
            
        <table class="table">
            <tr><th></th><th>Start</th><th>End</th><th>Pumps</th></tr>
            <tr *ngFor="let row of scheduleInfo.schedules" id="schedule-{{row.id}}">
                <th class="">{{row.name}}</th>
                <td>07:00 a.m.</td>
                <td>09:59 a.m. (3.0hrs)</td><td>
                    <div id="schdule-1-pump-1">Main (SPEED_1)</div>
                </td>
            </tr>
        </table>
    </div>
    </div>
</div>