<div class="dashboard-grid">
    <app-poolchemistry class="tile tile--half" [events]="eventsSubject.asObservable()"></app-poolchemistry>
    <app-temperature class="tile tile--half" [events]="eventsSubject.asObservable()"></app-temperature>
    <app-schedules class="tile tile--full" [events]="eventsSubject.asObservable()"></app-schedules>
    <app-stats class="tile tile--full" [events]="eventsSubject.asObservable()"></app-stats>
    <app-variable-groups class="tile tile--half" [events]="eventsSubject.asObservable()"></app-variable-groups>
    <app-lights class="tile tile--half" [events]="eventsSubject.asObservable()"></app-lights>
    <app-pumps class="tile tile--third" [events]="eventsSubject.asObservable()"></app-pumps>
    <app-valves class="tile tile--third" [events]="eventsSubject.asObservable()"></app-valves>
</div>
