body {
    padding-top: 70px;
    padding-bottom: 30px;
  }
  
  .theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
  }
  
  .theme-showcase > p > .btn {
    margin: 5px 0;
  }
  
  .theme-showcase .navbar .container {
    width: auto;
  }
  #schedule .time {
    width:100px;

  }

  .status-off::after {
    height: 15px;
    width: 15px;
    background-color: rgb(241, 142, 142);
    border-radius: 50%;
    content: "";
    display: inline-block;
  }

  .status-on::after {
    height: 15px;
    width: 15px;
    background-color: rgb(35, 236, 35);
    border-radius: 50%;
    content: "";
    display: inline-block;
  }